<footer class='bg-violet-100 flex flex-col lg:flex-row w-full px-2 py-6'>
    <ul class='w-full lg:w-1/4 mb-6 lg:mb-0 lg:mr-4'>
        <div class='capitalize cursor-pointer '>
            <h1 class='uppercase font-bold text-lg'>Compañia</h1>
            <li class='hover:text-violet-800'>Bienestar de los empleados</li>
            <li class='hover:text-violet-800'>Medios de comunicacion</li>
            <li class='hover:text-violet-800'>Carreras</li>
            <li class='hover:text-violet-800'>Aviso de Privacidad</li>
            <li class='hover:text-violet-800'>Politica DMCA</li>
            <li class='hover:text-violet-800'>Terminos y condiciones</li>
            <li class='hover:text-violet-800'>Mapa del sitio</li>
        </div>
    </ul>
    <ul class='w-full lg:w-1/4 mb-6 lg:mb-0 lg:mr-4'>
        <div class='capitalize cursor-pointer '>
            <h1 class='uppercase font-bold text-lg'>Gimnasios</h1>
            <li class='hover:text-violet-800'>Encontrar un gimnasio</li>
            <li class='hover:text-violet-800'>Tener un gimnasio</li>
            <li class='hover:text-violet-800'>Ver todos los gimnasios</li>
            <li class='hover:text-violet-800'>Inicoi de sesion de franquicia</li>
        </div>
    </ul>
    <ul class='w-full lg:w-1/4 mb-6 lg:mb-0 lg:mr-4'>
        <div class='capitalize cursor-pointer '>
            <h1 class='uppercase font-bold text-lg'>Miembros</h1>
            <li class='hover:text-violet-800'>La aplicacion anytime fitness</li>
            <li class='hover:text-violet-800'>Conexion de atencion al entrenador</li>
            <li class='hover:text-violet-800'>Preguntas frecuentes</li>
            <li class='hover:text-violet-800'>Contactanos</li>
        </div>
    </ul>
    <ul class='w-full lg:w-1/4 mb-6 lg:mb-0 lg:mr-4'>
        <div class='capitalize cursor-pointer flex justify-around'>
            <div class="hover:border-violet-800 w-8 h-8 border-2 border-black rounded-full flex items-center justify-center hover:text-violet-800">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="hover:border-violet-800 w-8 h-8 border-2 border-black rounded-full flex items-center justify-center hover:text-violet-800">
                <i class="fa-brands fa-x-twitter"></i>
            </div>
            <div class="hover:border-violet-800 w-8 h-8 border-2 border-black rounded-full flex items-center justify-center hover:text-violet-800">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="hover:border-violet-800 w-8 h-8 border-2 border-black rounded-full flex items-center justify-center hover:text-violet-800">
                <i class="fa-brands fa-pinterest"></i>
            </div>
            <a href={'https://www.youtube.com/watch?v=dQw4w9WgXcQ'} target="_blank" class="hover:border-violet-800 w-8 h-8 border-2 border-black rounded-full flex items-center justify-center hover:text-violet-800">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <div class="hover:border-violet-800 w-8 h-8 border-2 border-black rounded-full flex items-center justify-center hover:text-violet-800">
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
    </ul>
</footer>