<section class='flex flex-col lg:flex-row-reverse text-violet-50'>
    <div class='w-full lg:w-1/2'>
        <img width="2560" height="1707" class='w-full h-80 lg:h-160 object-cover object-right' src="https://www.anytimefitness.com/wp-content/uploads/2023/11/homepage-hero-afp-december-treadmill-2x.webp" alt="Persona en caminadora" />
    </div>
    <div class='w-full lg:w-1/2 bg-no-repeat bg-cover bg-violet-700' style={'background-image: url(https://anytimefitness.blob.core.windows.net/shared-assets/sites/af/consumer/img/line-blend-5-aqua.svg);'}>
        <div class='bg-violet-800 lg:h-144 lg:w-144 p-12 sm:m-8 lg:ml-auto'>
        <h1 class='text-xl lg:text-5xl uppercase font-bold mt-1'>
            <span>En cualquier momento, en cualquier lugar.</span>
            <br/>
            <span class='text-blue-400'>Y ahora con apple fitness+.</span>
        </h1>
        <p class='mt-1'>Hacer ejercicio no debería parecer trabajo. Con entrenamiento personalizado, equipos de alta calidad y ahora acceso gratuito a Apple Fitness+,* no hay razón para no amar tu entrenamiento (dondequiera, cuándo y cómo lo hagas, no estamos aquí para juzgar).</p>
        <button class="my-3 uppercase border rounded-3xl w-48 h-10 bg-violet-100 border-violet-100 text-violet-800 font-bold">Pruebanos gratis</button>
        <p class='mt-1 text-xs'>Se aplican términos, condiciones y restricciones. <span class='underline cursor-pointer'>Ver detalles</span></p>
        </div>
    </div>
    </section>

    <section class='bg-no-repeat bg-cover' style={'background-image: url(https://www.anytimefitness.com/wp-content/uploads/2021/12/Find-Your-Gym-module.png);'}>
    <div class='flex flex-col items-center p-16'>
        <div class=' m-2'>
        <h1 class='font-bold text-violet-50 text-2xl'>Encuentre un gimnasio con todos los beneficios adecuados</h1>
        </div>
        <div class=' m-2'>
        <ul class='text-green-300 lg:text-xl text-center font-semibold'>
            <li>&#10003; Abierto 24 horas</li>
            <li>&#10003; Plan personalizado</li>
            <li>&#10003; Acceso a mas de 5000 gimnasios</li>
            <li>&#10003; Entrenamiento personal y grupal</li>
            <li>&#10003; Acceso gratuito a Apple Fitness+</li>
        </ul>
        </div>
        <div class="flex items-center justify-center m-2">
        <input type="text" placeholder="Encuentra tu gimnasio hoy" class="caret-slate-400 border border-gray-300 px-4 py-2 rounded-l-lg lg:w-96 placeholder:text-center text-center focus:outline-none focus:ring-1 focus:ring-green-400"/>
        <button class="bg-green-300 text-white px-4 py-2 rounded-r-lg">
            <i class="fas fa-search"></i>
        </button>
        </div>
    </div>
    </section>

    <section class='flex flex-col lg:flex-row w-full bg-gray-200'>
    <div class='w-full lg:w-1/2 p-8'>
        <h1 class='text-3xl font-semibold'>
        <i class="fa-brands fa-apple"></i>Fitness+
        </h1>
        <h1 class='mt-2 text-xl lg:text-4xl uppercase font-bold'>Prueba anytime fitness gratis y obten hasta 3 meses de acceso a aplle fitness+ por cuenta</h1>
        <p class='py-2'>Anytime Fitness y Aplle Fitness+ se unen para crear una experiencia de bienestar personalizada inigualable</p>
        <button class="h-16 m-4 uppercase border rounded-3xl lg:w-96 lg:h-10 bg-violet-800 border-violet-800 text-violet-100 font-bold">Obtenga su pase de prueba gratuito</button>
        <p class='py-2 text-xs'>Abierto a nuevos clientes, residentes locales, solo en Estados Unidos y Canadá. Se requiere identificación con foto. Oferta válida para acceso de 1 o 7 días a la ubicación participante de Anytime Fitness más hasta 3 meses de Apple® Fitness+. Apple Fitness+ requiere una suscripción y hardware y software compatibles. La suscripción continúa por $9.99/mes después de la promoción hasta que se cancele. Apple no es patrocinador de esta promoción. Se aplican otros términos, condiciones y restricciones. Cada ubicación de Anytime Fitness es de propiedad y operación independiente. Para obtener detalles completos, consulte <span class='underline'>la página de oferta</span>. Nulo donde esté prohibido.</p>
    </div>
    <div class='w-full lg:w-1/2'>
        <img class='mx-auto' width="440" height="440" src="https://www.anytimefitness.com/wp-content/uploads/2023/11/afp-reusable-block-lifestyle-brian-crop-1536.webp" alt="Hombre en posición de carrera con anillos de Apple Fitness parcialmente cerrados detrás de él"/>
    </div>
</section>