<body class="container">

    <div class="row mt-5">
        <div class="col-sm-6">
            <br>
            <h1>Custom Login</h1>
            <hr>

            <form class="d-grid">
                <input type="text" name="correo" class="form-control mb-2" placeholder="Correo">
                <input type="password" name="password" class="form-control mb-2" placeholder="Password">

                <button type="submit" class="btn btn-primary">
                    Ingresar
                </button>
            </form>
        </div>
    </div>

    <script>
        const miFormulario = document.querySelector('form');

        const url = window.location.hostname.includes("localhost")
        ? "http://localhost:3000/api/auth/"
        : "https://webav-api.onrender.com/api/auth/";

        miFormulario.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = {};

            for (let el of miFormulario.elements){
                if (el.name.length > 0){
                    formData[el.name] = el.value;
                }
            }

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(formData),
                headers: {'Content-Type': 'application/json'}
            })
                .then(resp => resp.json())
                .then(({msg, token}) => {
                    if (msg){
                        return console.error(msg);
                    }
                    localStorage.setItem('token', token);
                    window.location = '/chat';
                })
                .catch(console.warn);

        });
    </script>
</body>