<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-white text-violet-800">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a href={'/'}><img width="162" height="43" class="mx-auto h-10 w-auto bg-violet-800 rounded-lg" src="https://www.anytimefitness.com/wp-content/uploads/2021/12/anytime-fitness-logo.png" alt="Anytime Fitness Logo" /></a>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight cursor-default">Cambiar Contraseña</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6">
        <div>
        <label for="email" class="block text-sm font-medium leading-6">Dirección de correo electrónico</label>
        <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required placeholder="test@test.com" class="block w-full rounded-md border-0 py-1.5 p-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
        </div>
        </div>

        <div>
        <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 ">Nueva contraseña</label>
        </div>
        <div class="mt-2">
            <input id="password" name="password" type="password" required placeholder="******" class="block w-full rounded-md border-0 py-1.5 p-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
        </div>
        </div>

        <div>
        <div class="flex items-center justify-between">
            <label for="password2" class="block text-sm font-medium leading-6 ">Repetir contraseña</label>
        </div>
        <div class="mt-2">
            <input id="password2" name="password2" type="password" required placeholder="******" class="block w-full rounded-md border-0 py-1.5 p-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
        </div>
        </div>

        <div id="errorMessages" class="mt-4 text-red-600"></div>

        <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-violet-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-violet-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:text-violet-500 hover:font-bold">Cambiar contraseña</button>
        </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500 cursor-default">
        ¿Eres miembro?
        <a href="/login/" class="font-semibold leading-6 text-green-500 hover:text-green-700"> Inicia sesion</a>
    </p>
    <p class="mt-10 text-center text-sm text-gray-500 cursor-default">
      ¿No es un miembro?
      <a href="/register/" class="font-semibold leading-6 text-green-500 hover:text-green-700"> Registrate</a>
    </p>
    </div>
</div>

<script>
    const form = document.querySelector('form');
    const errorMessages = document.querySelector("#errorMessages");
    const url = window.location.hostname.includes("localhost")
    ? "http://localhost:3000/api/usuarios/"
    : "https://webav-api.onrender.com/api/usuarios/";

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const email = document.querySelector('#email').value.trim();
        const password = document.querySelector('#password').value.trim();
        const password2 = document.querySelector('#password2').value.trim();

        if (password !== password2) {
            errorMessages.innerHTML = 'Las contraseñas no coinciden';
            return;
        }

        if (password.length < 6 || password2.length < 6) {
            errorMessages.innerHTML = 'La contraseña debe tener al menos 6 caracteres';
            return;
        }

        const requestOptions = {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({password})
        }

        try {
            const res = await fetch(url + `${email}`);
            const json = await res.json();
        
            if (res.ok) {
                const uid = json.usuario.uid;
                const request = await fetch(url + `${uid}`, requestOptions);
                const response = await request.json();

                if (request.ok) {
                    window.location.href = '/login';
                } else {
                    errorMessages.innerHTML = response.msg || 'Recuperar contraseña fallo';
                }
        
            } else {
                errorMessages.innerHTML = json.msg || 'Recuperar contraseña fallo';
            }
        } catch (error) {
            errorMessages.innerHTML = 'Recuperar contraseña fallo';
        }
    });
</script>